---
---
@import "{{ site.theme }}";

.task-list-item {
  list-style-type: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 6px 12px;
  border: 1px solid #e1e4e8;
  text-align: left;
}

th {
  background-color: #f6f8fa;
}
